/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-color: #000028;
  --foreground-color: #f1b2ce;
  --hover-link-color: #f1b2ce;
  --focus-link-color: #f1b2ce;
  --main-title-color: #db00ff;
  --main-section-title-color: #ff0070;
  --theme-buttons-color: #ff0070;
  --decorated-elements-color: #ff0070;
  --focus-color: #ff0070;
  --shadow-color: #ff0070;
  --accent-color: #ff0070;
  --subtitle-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
  --button-hover-color: rgba(255, 0, 112, 0.4);
  --rec-display: block;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #000028;
    --foreground-color: #F1B2CE;
    --hover-link-color: #F1B2CE;
    --focus-link-color: #F1B2CE;
    --main-title-color: #DB00FF;
    --main-section-title-color: #ff0070;
    --theme-buttons-color: #ff0070;
    --decorated-elements-color: #ff0070;
    --focus-color: #ff0070;
    --shadow-color: #ff0070;
    --accent-color: #FF0070;
    --subtitle-color: #000028;
    --background-image: url(../images/cover-image-dark.png);
    --button-hover-color: rgba(255, 0, 112, 0.4);
    --rec-display: block;
  }
}